**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example

src/node_modules
src/vendor
src/public/build
src/public/hot
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
!src/storage/framework/cache/.gitignore
!src/storage/framework/sessions/.gitignore
!src/storage/framework/views/.gitignore
!src/storage/logs/.gitignore

**/*.log
**/.DS_Store
**/.idea
**/.vscode
docker-compose.override.yml
README.md
